<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unity.myhelloworldplugin">

    <application>
        <meta-data
            android:name="com.unity.activity.listener.MyHelloWorld"
            android:value="com.unity.myhelloworldplugin.MyHelloWorldActivityListener" />
    </application>


</manifest>
